* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*background color for the body of the website*/
body {
    background-color: #d9dcd6;
}
/*formatting for the header section. Table padding, background color, font family */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*font size and display block for the h1*/
header h1 {
    display: inline-block;
    font-size: 48px;
}


header h1 .seo {
    color: #d9dcd6;
}
/*formatting for the navigation section of the website*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*list style type for the navigation list*/
header nav ul {
    list-style-type: none;
}
/*formatting for the lines in the navigation list */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/*default font-size for paragraphs*/
p {
    font-size: 16px;
}
/*formatting for the background image of the website*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*floats image to the left of the article class*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*floats image to the right of the article class*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*makesthe main class take up 75% of the screen, inline block display and a 20 pixel margin from the left */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*makes the aside section float to the right with a 20% width and 100% height, along with other styles such as font and background color of the class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*adds color and font size for the benefit-lead class*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*adds color and font size for the benefit-brand class*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*adds color and font size for the benefit-cost class*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*aligns h3 to the center with the benefit-lead class and adds a 10 pixel margin between the h3 and the image*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*aligns h3 to the center with the benefit-brand class and adds a 10 pixel margin between the h3 and the image*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*aligns h3 to the center with the benefit-cost class and adds a 10 pixel margin between the h3 and the image*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*adds a 10 pixel around the image for the benefit-lead class and adds a max width (regardless of how expanded the webpage is)*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*adds a 10 pixel around the image for the benefit-brand class and adds a max width (regardless of how expanded the webpage is)*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*adds a 10 pixel around the image for the benefit-cost class and adds a max width (regardless of how expanded the webpage is)*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}