* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*display inline-block to make the spans populate vertically*/
header h1 {
    display: inline-block;
    font-size: 48px;
}
/*adds slight color change for the "SEO" part of the title*/
header h1 .seo {
    color: #d9dcd6;
}
/*make the navigation links float to the right of the website*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*removes default  bullet points*/
header nav ul {
    list-style-type: none;
}
/*have the navigation links populate horizontally from each other */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*floats image to the left of the article class with a 25px margin to the right*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*floats image to the right of the article class with a 25px margin to the left*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*main class uses 75% of the website horizontally*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*makes the whole aside section float to the right and take up 20% of the webpage horizontally*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-article {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-article h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*image takes up the whole width of the aside section, no text wrap*/
.benefit-article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.main-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.main-content img {
    max-height: 200px;
}

.main-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}